---
import H1 from "../components/h1.astro";
import InfoLayout from "../layouts/InfoLayout.astro";
import ElectricMotor from "../assets/3.jpg";
import Electric from "../assets/4.jpg";
import Elec from "../assets/12.webp";
import { Image } from 'astro:assets';
---

<InfoLayout>
     <div class="p-4 sm:pt-8 sm:px-12 pb-20 min-h-dvh flex flex-col justify-between gap-32">
          <div class="space-y-4 sm:space-y-12">
               <H1>Tattoo studio </H1>

               <p class="text-xl xl:text-2xl text-zinc-300 text-balance">
                    Located in the heart of Prague,&nbsp;
                    <a href="#" target="_blank" class="underline underline-offset-4 decoration-zinc-100 hover:text-zinc-50 hover:decoration-zinc-200">
                    &nbsp;Auraink®
                    </a>
                    &nbsp;is a modern tattoo studio where art meets precision. The studio’s talented artists specialize in custom designs—from fine line and realism to bold traditional styles—crafted in a clean, welcoming environment. Using only high-quality, vegan-friendly inks and strict hygiene standards, they ensure every tattoo is safe, personal, and beautifully executed. 
               </p>
          </div>

          <!-- <div class="space-y-2 text-base sm:text-lg">
               <h2 class="px-4 text-zinc-200 underline underline-offset-4 decoration-zinc-500">Achievements</h2>

               <ul class="px-4 text-zinc-300 list-disc list-outside">
                    <li>Alternating Current (AC) System</li>
                    <li>Tesla Coil</li>
                    <li>Induction Motor</li>
                    <li>Wireless Transmission</li>
                    <li>Radio and Remote Control</li>
                    <li>Hydroelectric Power at Niagara Falls</li>
                    <li>X-Ray Imaging</li>
               </ul>
          </div> -->
          <!-- <Image src={ElectricMotor} alt={'Jan'} class="aspect-[1/0.33] object-center object-cover rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4" /> -->
          <Image src={Elec} alt={'Jan'} class="aspect-[1/0.50] object-center object-cover rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4" />
          <!-- <Image src={ElectricMotor} alt={'Jan'} class="aspect-[1/0.33] object-center object-cover rounded-lg shadow-lg mb-4 sm:mb-0 sm:mr-4" /> -->
     </div>
</InfoLayout>
